.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.header {
  margin-bottom: 20px;
}

.button {
  margin: 20px;
  width: 64px;
  height: 32px;
  border-radius: 8px;
}